*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    width: 100vw;
    min-height: 100%;
    text-align: center;
    background-image: url(images/bg-stars.svg);
    background-color: #211D2B;
}
main{
    position: relative;
    height: 75vh;
}

h1{
    position: absolute;
    margin:auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.5em;
    letter-spacing: 4px;
}
#countdown{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    width:clamp(350px,100%,700px);
    height: 80px;
    display: flex;
    justify-content: space-around;
}
.child .reloStyle{
    z-index: 2;
    position: absolute;
    color: white;
    font-size:2.5em;
    transform: translate(-50%);
    left: 50%;
    top:23%;
    font-weight: bolder;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(218, 46, 46, 0.79);
}
@media screen and (min-width:700px) {
    .child .reloStyle{
        font-size: 3.5em;
        top: 11%;
    }

}
.child{
    position: relative;
    width: 20%;
    height: 100%;
    

}
.child .top{
    background-color: #2C2C44;
    height:50%;
    border-radius: 10%;
}
.child .bottom{
    background-color:#34364F;
    height: 50%;
    border-radius: 10%;
}
.child .bol{
    position:absolute;
    top: 45%;
    width: 8px;
    height: 10px;
    background-color: #211D2B;
}
.child .bolLeft{
    border-radius: 0 10px 10px 0;
}
.child .bolRigth{
    border-radius:10px 0 0 10px;
    right: 0%;
}
.child p{
    position: relative;
    top: 15px;
    font-size: 0.8em;
    color: #6a6499;
}

.attribution{
    position: relative;
    height: 25vh;
    padding-top: 50px;
    background-image: url(images/pattern-hills.svg);
    background-size: cover;
    background-position: center;
}
.attribution svg{
    margin: 5px;
}
.attribution svg > path:hover{
   cursor: pointer;
   fill:rgba(255, 0, 0, 0.388);
   
}
.attribution div{
    width: 100%;
    color: rgba(255, 255, 255, 0.454);
    font-size: 0.7em;
    position: absolute;
    bottom: 0%;

}
.attribution div a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
@media screen and (max-width:380px) {
    .attribution{
        background-position: right;
    }
}
